@font-face {
  font-family: 'Boska-Variable';
  src: url('../fonts/boska/Boska-Variable.woff2') format('woff2'),
       url('../fonts/boska/Boska-Variable.woff') format('woff'),
       url('../fonts/boska/Boska-Variable.ttf') format('truetype');
  font-weight: 200 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Boska-VariableItalic';
  src: url('../fonts/boska/Boska-VariableItalic.woff2') format('woff2'),
       url('../fonts/boska/Boska-VariableItalic.woff') format('woff'),
       url('../fonts/boska/Boska-VariableItalic.ttf') format('truetype');
  font-weight: 200 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi-Variable';
  src: url('../fonts/satoshi/Satoshi-Variable.woff2') format('woff2'),
       url('../fonts/satoshi/Satoshi-Variable.woff') format('woff'),
       url('../fonts/satoshi/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-VariableItalic';
  src: url('../fonts/satoshi/Satoshi-VariableItalic.woff2') format('woff2'),
       url('../fonts/satoshi/Satoshi-VariableItalic.woff') format('woff'),
       url('../fonts/satoshi/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}



:root {
    --primary: #5F8F7B;
    --secundary: #2F7C7C;
    --background: #F6F5F1;
    --kreativ-akzent: #B8A7D9;
    --text: #2A2A2A;
}

img {
    max-width: 50vw;
}

h1 {
    font-family: Boska-Variable
}

p {
    font-family: Satoshi-Variable;
}

/* Header Styling */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: var(--text),1px , solid;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
}

header a {
    text-decoration: none;
    color: var(--text);
    font-size: 20px;
    text-align: center;
    font-family: Satoshi-Variable;

}

.icon {
    width: 64px;
}

header .callToAction {
    font-size: 40px;
    color: var(--secundary);
    font-weight: bold;
    font-family: Boska-Variable;
}

/* Header Styling */

/* Hero Banner */

.photo-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  gap: 4rem;
  padding-top: 2rem;
  background: var(--background);
  min-height: 85vh;
}

.photo-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
}

.photo-text h2 {
  margin: 0;
  font-size: 80px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  color: var(--text);
}

.photo-text p {
  max-width: 32rem;
  line-height: 1.5;
  color: var(--text);
  font-size: 2vh;
}

.photo-text .qoute {
  margin: 0;
  max-width: 28rem;
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--text);
  font-family: Satoshi-Variable;
}

.photo-text .author {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--text);
}

.photo-visual {
  background: #c6b4ea;
  border-top-left-radius: 4.5rem;
  border-bottom-left-radius: 4.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 650px;
}

.photo-visual img {
  height: 100%;
  object-fit: contain;
  display: block;
}

/* Ende Hero-Banner */

/* Styling Intention */


